<div class="container">
  <div class="my-3">
    <h1>booking requests</h1>
  </div>
  <div class="w-75">
    <% @owner_bookings.each do |booking_as_owner| %>
      <%= render 'bookings/booking_card', booking: booking_as_owner %>
    <% end %>
  </div>

  <div class="my-3">
    <h1>your bikes</h1>
  </div>
  <div class="w-25">
    <% @bikes.each do |bike| %>
      <%= render 'bikes/card', bike: bike %>
    <% end %>
  </div>
</div>
