<div class="container d-flex justify-content-between">
  <div class="my-3 container">
    <h1>bookings for your bikes</h1>
    <% @owner_bookings.each do |booking_as_owner| %>
      <%= render 'bookings/booking_card', booking: booking_as_owner %>
    <% end %>
  </div>
  <div class="my-3 container">
    <div class="d-flex">
      <h1>your bikes</h1>
      <%= link_to new_bike_path do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <% @bikes.each do |bike| %>
      <%= render 'bikes/card', bike: bike %>
    <% end %>
  </div>
</div>
