<div class="container">
  <div>
    <h1>My bookings</h1>
  </div>
  <div class="w-75">
    <% @bookings.each do |booking| %>
      <%= render 'booking_card', booking: booking %>
    <% end %>
  </div>
</div>
