<div>
  <div>
    <h1>My bookings</h1>
  </div>
  <div class="my-2 w-75 position-top">
    <% @bookings.each do |booking| %>
      <%= render 'booking_card', booking: booking %>
    <% end %>
  </div>
</div>
