<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzmlzpvcj/image/upload/v1731989959/kuki-bikes/a0jsfvnzntryyfgsdkcm.jpg);">
  <div class="container d-flex justify-content-center">
    <%= render 'shared/search' %>
  </div>
</div>
<div class="text-center my-5">
  <h1>Skip the rental counter</h1>
  <p>Rent just about any motorcycle, just about anywhere</p>
</div>
<div class="d-flex justify-content-around">
  <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzmlzpvcj/image/upload/v1732101047/meeting-company-friends-motorcyclists-bikers-600nw-2206288187_rcccga.webp)">
    Rent bikes for any occasion
  </div>
  <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzmlzpvcj/image/upload/v1732101047/IMG_4746-scaled_fxpdyh.jpg)">
    Browse by location
  </div>
  <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzmlzpvcj/image/upload/v1732101046/motorcycle-addiction-is-a-constant_aoi9n7.jpg)">
    Get your motohead fix
  </div>
</div>
