// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "search";
@import "card-category";
@import "status";
@import "map";
@import "photo-upload";

body {
  color: #4A4040;
}

a {
  color: black;
}

h1, h2, h3, h4, h5 {
  color: black;
}
